 
<!-- <b>clone link</b> -> https://github.com/Hspharwinder/Angular11_CK-editor.github
  -->
<form
  [formGroup]="myForm"
  (ngSubmit)="submit()"
  class="form-horizontal"
  role="form"
>
  <ckeditor
    [editor]="Editor"
    [config]="editorConfig"
    formControlName="sport_description" (ready)="onReady($event)"
  ></ckeditor>
  <br /><br />
  <button type="submit">Submit</button>
</form>
<br /><br /><br />
View<br />
========================================================<br />
<div [innerHTML]="htmlValue"></div>

<!-- <br /><br />Step To integrate ck-editor <br />
==============================================
<br />
1. npm i @ckeditor/ckeditor5-angular<br />
2. npm i @ckeditor/ckeditor5-build-classic<br />
3. import in app.module.ts<br />
4. import and use ckeditor in app.component.ts<br /> -->
